In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: idna in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:

pip install selenium==4.2.0

Collecting selenium==4.2.0
  Downloading selenium-4.2.0-py3-none-any.whl (983 kB)
     -------------------------------------- 983.2/983.2 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from selenium==4.2.0) (0.10.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from selenium==4.2.0) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from selenium==4.2.0) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.2.0) (1.14.6)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.2.0) (1.1.1)
Requirement already satisfied: outcome in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.2.0) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.2.0) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.2.0) (21.2.0)
Requirement already satisfied: idna in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.2.0) (3.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.1

Requirement already satisfied: sniffio in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.2.0) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.2.0) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium==4.2.0) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium==4.2.0) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium==4.2.0) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium==4.2.0) (3.4.8)
Requirement already satisfied: certifi in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium==4.2.0) (2021.10.8)
Requirement already satisfied: pycparser in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium==4.2.0) (2.20)
Requirement already satisfied: six>=1.5.2 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium==4.2.0) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shivangi s. dixit\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium==4.2.0) (0.14.0)
Installing collected packages: selenium
  Attempting uninstall: selenium
    Found existing installation: selenium 4.8.3
    Uninstalling selenium-4.8.3:
      Successfully uninstalled selenium-4.8.3
Successfully installed selenium-4.2.0

[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# import all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.by import By
import time

In [2]:
# connect to the web driver
driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [129]:
# connect to the web driver
try:
    driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")
    driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
except NoSuchElementException:
    pass

In [131]:
rank_var = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
name_var = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
artist_var = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
ud_var = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
views_var=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')

In [132]:
print(len(rank_var),len(name_var),len(artist_var),len(ud_var),len(views_var))

30 30 30 30 30

In [133]:
import pandas as pd
df_building = pd.DataFrame(columns=['Rank','Name','Artist','Upload Date','Views'])

for i in range(len(rank_var)):
    df_building = df_building.append({'Rank':rank_var[i].text,'Name':name_var[i].text,'Artist':artist_var[i].text,"Upload Date":ud_var[i].text,'Views':views_var[i].text},ignore_index=True)

In [134]:
df_building

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [142]:
# connect to the web driver
try:
    driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")
    driver.get('https://www.bcci.tv/')
except NoSuchElementException:
    pass

In [155]:
match_title=[]
series=[]
place=[]
date=[]
time=[]
try:
    search=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
    driver.get(search.get_attribute('href'))
    #Scrapping for match title
    mt = driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/h5")
    for i in mt:
        match_title.append(i.text)
    #Scrapping for series
    sr = driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/h5")
    for i in sr:
        series.append(i.text)
    #Scrapping for Place
    pl = driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[3]/div/span[3]")
    for i in pl:
        place.append(i.text)
    #Scrapping for Date
    dt = driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/div/div[1]")
    for i in dt:
        date.append(i.text)
    #Scrapping for Time
    tm = driver.find_elements(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/div/div[2]")
    for i in tm:
        time.append(i.text)
except NoSuchElementException:
    str1="No Data exist"
    pass

In [156]:
import pandas as pd
df=pd.DataFrame({'Match Title':match_title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,London,7 JUN 2023,3:30 PM IST

Q3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
# connect to the web driver
try:
    driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")
    driver.get('http://statisticstimes.com/')
except NoSuchElementException:
    pass

In [3]:
rank=[]
state=[]
GSDP18_19=[]
GSDP19_20=[]
share18_19=[]
gdp=[]

In [6]:
#locating the URL for scrapping
try:
    search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
    driver.get(search.get_attribute('href'))
    search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
    driver.get(search.get_attribute('href'))
        
except NoSuchElementException:
    pass

In [14]:
rank_var = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[1]')
state_var = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[2]')
gsdp18_19_var = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[4]')
gsdp19_20_var = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[3]')
share18_19_var = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[5]')
gdp_var = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[6]')

In [15]:
import pandas as pd
df_gdp = pd.DataFrame(columns=['Rank','State','GSDP 18-19 Current Price','GSDP 19-20 Current Price','Share 18-19','GDP($ Billion)'])

for i in range(len(rank_var)):
    df_gdp = df_gdp.append({'Rank':rank_var[i].text,'State':state_var[i].text,'GSDP 18-19 Current Price':gsdp18_19_var[i].text,"GSDP 19-20 Current Price":gsdp19_20_var[i].text,'Share 18-19':share18_19_var[i].text,'GDP($ Billion)':gdp_var[i].text},ignore_index=True)

In [16]:
df_gdp

,Rank,State,GSDP 18-19 Current Price,GSDP 19-20 Current Price,Share 18-19,GDP($ Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"25,141","28,391",0.15%,"17,060"
62,30,Nagaland,"24,534",-,0.15%,-
63,31,Arunachal Pradesh,"22,488",-,0.13%,-
64,32,Mizoram,"20,947","24,424",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

Q4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [68]:
# connect to the web driver
try:
    driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")
    driver.get('https://github.com/search?q=Data%20Science&type=repositories')
except NoSuchElementException:
    pass

In [152]:
repo_title=[]
repo_desc=[]
cont_cnt=[]
lang=[]

In [153]:
try:
    rt = driver.find_elements(By.CLASS_NAME,'v-align-middle')
    for i in rt:
        repo_title.append(i.text)
        
    rd = driver.find_elements(By.CLASS_NAME,'mb-1')
    for i in rd:
        repo_desc.append(i.text)
        
    cc = driver.find_elements(By.XPATH,'//a[@class="Link--muted"][1]')
    for i in cc:
        cont_cnt.append(i.text)
        
    ln = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"][1]')
    for i in ln:
        lang.append(i.text)
        
except NoSuchElementException:
    pass

In [154]:
for i in range(len(repo_title)):
    if repo_title[i]=='':
        repo_title[i]='-'
    else:
        repo_title.append('-')
    if repo_desc[i]=='':
        repo_desc[i]='-'
    else:
        repo_desc.append('-')
    if cont_cnt[i]=='':
        cont_cnt[i]='-'
    else:
        cont_cnt.append('-')
    if lang[i]=='':
        lang[i]='-'
    else:
        lang.append('-')
lang.append('-')
lang.append('-')
lang.append('-')

In [155]:
print(len(repo_title),len(repo_desc),len(cont_cnt),len(lang))

28 28 28 28

In [151]:
import pandas as pd
df=pd.DataFrame({'Repository Title':repo_title,'Repository Description':repo_desc,'Contributors Count':cont_cnt,'Langauge':lang})
df

,Repository Title,Repository Description,Contributors Count,Langauge
0,-,Python Data Science Handbook: full text in Jup...,38.2k,Jupyter Notebook
1,-,Data science Python notebooks: Deep learning (...,25k,Python
2,-,📊 Path to a free self-taught education in Data...,16.6k,Jupyter Notebook
3,-,"10 Weeks, 20 Lessons, Data Science for All!",18.8k,Python
4,-,code for Data Science From Scratch book,7.6k,Jupyter Notebook
5,-,Data Science Using Python,4.7k,Python
6,-,common data analysis and machine learning task...,4.8k,Jupyter Notebook
7,-,数据科学的笔记以及资料搜集,7.4k,-
8,jakevdp/PythonDataScienceHandbook,Cheat Sheets,603,-
9,donnemartin/data-science-ipython-notebooks,Open Source Data Science Resources.,3.7k,-
10,ossu/data-science,-,-,-
11,microsoft/Data-Science-For-Beginners,-,-,-
12,joelgrus/data-science-from-scratch,-,-,-
13,WillKoehrsen/Data-Analysis,-,-,-
14,ujjwalkarn/DataSciencePython,-,-,-
15,fengdu78/Data-Science-Notes,-,-,-
16,georgearun/Data-Science--Cheat-Sheet,-,-,-
17,jonathan-bower/DataScienceResources,-,-,-
18,-,-,-,-
19,-,-,-,-
20,-,-,-,-
21,-,-,-,-
22,-,-,-,-
23,-,-,-,-
24,-,-,-,-
25,-,-,-,-
26,-,-,-,-
27,-,-,-,-

Q5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [132]:
# connect to the web driver
try:
    driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")
    driver.get('https:/www.billboard.com/')
except NoSuchElementException:
    pass

In [133]:
#locating the URL for scrapping
try:
    charts=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
    driver.get(charts.get_attribute('href'))
    hot_100=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
    driver.get(hot_100.get_attribute('href'))
        
except NoSuchElementException:
    pass

In [134]:
try:
    sn=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3')
    an=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
    lwr=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
    pr=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
    wob=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
except NoSuchElementException:
    pass

In [135]:
import pandas as pd
df_song = pd.DataFrame(columns=['Song Name','Artist Name','Last Week Rank','Peak Rank','Weeks on Board'])

for i in range(len(sn)):
    df_song = df_song.append({'Song Name':sn[i].text,'Artist Name':an[i].text,'Last Week Rank':lwr[i].text,"Peak Rank":pr[i].text,'Weeks on Board':wob[i].text},ignore_index=True)

In [136]:
df_song

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,Princess Diana,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99,1
99,It Matters To Her,Scotty McCreery,-,100,1

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [95]:
#The Given URl is not working -  its giving Error 404 - Page not found

Q7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [97]:
# connect to the web driver
try:
    driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")
    driver.get('https://www.imdb.com/list/ls095964455/')
except NoSuchElementException:
    pass

In [125]:
try:
    nm=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3/a')
    ys=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3/span[2]')
    ge=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[1]/span[5]')
    rt=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[1]/span[3]')
    rs=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/div[1]/div[1]/span[2]')
    vt=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]')
except NoSuchElementException:
    pass

In [130]:
import pandas as pd
tv_series = pd.DataFrame(columns=['Name','Year Span','Genre','Runtime','Ratings','Votes'])

for i in range(len(nm)):
    tv_series = tv_series.append({'Name':nm[i].text,'Year Span':ys[i].text,'Genre':ge[i].text,"Runtime":rt[i].text,'Ratings':rs[i].text,'Votes':vt[i].text},ignore_index=True)

In [131]:
tv_series

,Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,153,623"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,235,638"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,023,049"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"301,066"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"260,001"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,398"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,440"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,843"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,941"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,476"

Q8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [3]:
# connect to the web driver
try:
    driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")
    driver.get('https://archive.ics.uci.edu/')
except NoSuchElementException:
    pass

In [4]:
#locating the URL for scrapping
try:
    charts=driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td/span/b/a")
    url=driver.get(charts.get_attribute('href'))
except NoSuchElementException:
    pass

In [5]:
#ds_name=[]
#/html/body/div
#/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody
try:
    
    #data = pd.read_html(url)
    #print(f'Extracted {len(data)} table/s')
    #data[0]
    
    
    #dn=driver.find_elements(By.CSS_SELECTOR,'div')
    #for i in dn:
        #print(i.text)
    
    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]
    
    #dn=driver.find_elements(By.XPATH,'//p[@class="normal"]/b/a')
    #dt=driver.find_elements(By.XPATH,'//p[@class="normal"]')
    #dt=driver.find_elements(By.XPATH,'//tr[@bgcolor="#DDEEFF"]/td[2]/p')
    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[3]/td[1]/table/tbody/tr/td[2]/p/b/a
    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[3]/td[2]/p
    
    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[2]/p
    
    
    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody
    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[2]/p
    #/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[3]/p
    #x=driver.find_elements(By.XPATH,"//tbody/tr/td[2]/table[2]/tbody/tr[2]/td[1]")
    
    #for i in x:
        #print(i.text)
    k=1
    for i in range(2,3):
        dn=driver.find_elements(By.XPATH,'//tbody/tr/td[2]/table[2]/tbody/tr[k]/td[1]')
        dt=driver.find_elements(By.XPATH,'//tbody/tr/td[2]/table[2]/tbody/tr[k]/td[2]')
        ts=driver.find_elements(By.XPATH,'//tbody/tr/td[2]/table[2]/tbody/tr[k]/td[3]')
        at=driver.find_elements(By.XPATH,'//tbody/tr/td[2]/table[2]/tbody/tr[k]/td[4]')
        nos=driver.find_elements(By.XPATH,'//tbody/tr/td[2]/table[2]/tbody/tr[k]/td[5]')
        noa=driver.find_elements(By.XPATH,'//tbody/tr/td[2]/table[2]/tbody/tr[k]/td[6]')
        yn=driver.find_elements(By.XPATH,'//tbody/tr/td[2]/table[2]/tbody/tr[k]/td[7]')
        k=k+1
        
except NoSuchElementException:
    pass
for i in dn:
    print(i.text)
for i in dt:
    print(i.text)

Q9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [35]:
# connect to the web driver
try:
    driver = webdriver.Chrome(r"D:\Swapnil Dixit\Data Science\Data Trained\Internship -Fliprobo\Tasks\03 April 2023\chromedriver_win32\chromedriver.exe")
    driver.get('https://www.naukri.com/hr-recruiters-consultants')
except NoSuchElementException:
    pass

In [36]:
try:
    designation = driver.find_element(By.CLASS_NAME,"sugInp")
    designation.send_keys('Data Science')
    s=driver.find_element(By.ID,"qsbFormBtn")
    s.click()
except NoSuchElementException:
    pass

In [65]:
name=[]
designation=[]
company=[]
skills=[]
location=[]

In [66]:
try:
    nm=driver.find_elements(By.XPATH,'//div[@class="recSec fl fadeInUp"]/div[1]/div[1]/p/a[1]/span')
    for i in nm:
        name.append(i.text)
    
    dg=driver.find_elements(By.XPATH,'//div[@class="recSec fl fadeInUp"]/div[1]/div[1]/p/span[1]')
    for i in dg:
        designation.append(i.text)
      
    cm=driver.find_elements(By.XPATH,'//div[@class="recSec fl fadeInUp"]/div[1]/div[1]/p/a[2]')
    for i in cm:
        company.append(i.text)
    
    sh=driver.find_elements(By.XPATH,'//div[@class="recSec fl fadeInUp"]/div[1]/div[2]')
    for i in sh:
        skills.append(i.text)
    
    loc=driver.find_elements(By.XPATH,'//div[@class="recSec fl fadeInUp"]/div[1]/div[1]/p/span[2]/small')
    for i in loc:
        location.append(i.text) 
    location.append(str('XYZ'))
except NoSuchElementException:
    pass
print(len(name),len(designation),len(company),len(skills),len(location))

25 25 25 25 25

In [67]:
import pandas as pd
df=pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skills':skills,'Location':location})
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
2,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
3,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
4,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
5,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
6,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
7,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
8,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
9,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
10,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
11,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
12,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
13,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
14,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
15,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Bengaluru / Bangalore
16,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
17,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
18,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Chennai
19,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Salt Lake City
20,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Bengaluru / Bangalore
21,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Indore
22,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",MYSORE
23,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Bengaluru / Bangalore
24,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",XYZ